<style>
    body {
    font-family: Tahoma, serif;
    }
    h1 {
    color: #999999;
    }
    .learned-ok {
    color: green;
    }
    .learning-in-progress {
    color: orange }
    not-learned {
  color: red;
  }
  h1 {
    color: blue;
    background-color: rgb(90, 125, 199);
    border: 1px solid black;
   }
   p {
    color: red;
   }
  </style>